<% if object.errors.any? %>
<div id="error_explanation", class="col-lg-10 col-lg-offset-1">
  <div class="alert alert-danger">
    The form has <%= pluralize(object.errors.count, "error") %>:
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
</div>
 <%end %>